$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary: #8355ff;
@import "bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: lighten($brand-primary, 30%);
}

.bs-masthead {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  h1 {
    line-height: 1;
    color: darken($brand-primary, 35%);
    @media (min-width: $screen-sm-min) {
      font-size: 50px;
    }
  }
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.test-features {
  max-width: 500px;
  margin: 0 auto;
}

.powered-by-panel {
  max-width: 1032px;
  margin: 0 auto;
  text-align: center;
  > .panel-body > div {
    display: inline-block;
  }
}
